<%- include("header") -%>
<h2>THIS IS THE ABOUT PAGE</h2>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit nisi incidunt eos exercitationem architecto
    reprehenderit quae consectetur assumenda in. Ut itaque minima vel neque, assumenda dolores sint harum animi odit?
</p>
<%- include("footer") -%>